

.countries {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-content: space-evenly; */
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-items: center;
    grid-row-gap: 50px;
}

.country{
    
}

.country img{
    width: 50%;
    height: 50%;
}

.countryName{

}